@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li , a ,h3, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #edf0f1;
    text-decoration: none;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10% ;
    background-color: #284b63;
}

.logo_container{
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
display: inline-block;
padding: 0px 20px;
}

.my_info {
    justify-content: center;
    display: flex;
    align-items: center;
    width: inherit;
    background-color: white;
    align-content: center;
}

.submit_info {
    justify-content: center;
    display: flex;
    align-items: center;
    width: inherit;
    background-color: white;
    align-content: center;
    margin-bottom: 40px;
}

.container {
    font-family: "Montserrat", sans-serif;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background-color: #babcbd;
    border-radius: 5px;
}

.profile-pic {
    width: 278px;
    height: 250px;
    border-radius: 20px;
    margin: 2%;
}

.my_info span {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0px 20px 0px;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    border-radius: 5px;
}

.submit_button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    height: 45px;
    width: 100%;
    color: #edf0f1;
    background-color: #284b63;
    border-radius: 5px;
}

.input {
    width: auto;
    height: 50px;
    margin-bottom: 20px;
}


footer {
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 10px 10px ;
    background-color: #868686;

}

.footer_links {
    list-style: none;
}

.footer_links li {
display: inline-block;
padding: 0px 20px;
font-size: 12px;
}

.footer_links li a {
display: inline-block;
padding: 0px 20px;
font-size: 14px;
}

.contact li{
    list-style: none;
    font-size: 12px;
}

.copy_right li{
    list-style: none;
    font-size: 12px;
}

